<nav class="navbar navbar-expand-lg navbar-light rounded bg-dark" aria-label="Twelfth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="col">

          <a class="nav-link  text-white" href="#">Music</a>
          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
