<div class="container">

  <div class="row">
    <div class="col" style="text-align: right;margin-top: 10px;">
      <a class="btn btn-sm fw-bold border-white btn-sm bg-white text-dark" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Agregrar Album
        <i class="fa fa-plus-circle fa-lg" style="color: black;"></i>
      </a>
      <a class="btn btn-sm fw-bold border-white btn-sm bg-white text-dark" style="margin-left: 5px;"
        (click)="deletedAllAlbums()" *ngIf="albums.length>0">Eliminar Albums
        <i class="fa fa-trash-o fa-lg" style="color: black;"></i></a>
    </div>
    <form class="row g-3 needs-validation" novalidate (ngSubmit)="updateCompanyMassive(companyAlbumForm)"
      [formGroup]="companyAlbumForm">
      <div class="col-lg-3 col-sm-3 col-mb-3 col-0">
      </div>
      <div class="col-lg-3 col-sm-6 col-mb-3 col-6">
        <input type="text" class="form-control bg-dark text-white" id="validationCustom01" required
          placeholder="Compañia" formControlName="companyName" ngModel>
        <div
          *ngIf="formAltaControls.companyName.invalid && formAltaControls.companyName.errors && (formAltaControls.companyName.dirty || formAltaControls.companyName.touched)"
          class="alert alert-danger form-danger" role="alert">
          <small *ngIf="formAltaControls.companyName.errors.required ">
            Required field!
          </small>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-mb-3 col-3">
        <button class="btn btn-sm fw-bold border-white btn-sm bg-white text-dark" [disabled]="companyAlbumForm.invalid"
          type="submit">Actualizar</button>
      </div>
    </form>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 10px;">
    <div class="col" *ngFor="let album of albums,index as i">
      <div class="card shadow-sm text-white">
        <div style="display: inline-block;position: relative;">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="album.image" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <button type="button" class="btn " aria-label="Close" style="position: absolute;right: 0px;"
            (click)="deleteAlbum(album.albumId)"><i class="fa fa-trash-o fa-lg" style="color: red;"></i></button>
        </div>

        <div class="card-body text-white" style="background: rgb(52, 52, 54);">
          <h5 class="card-title text-white">{{album.title}}</h5>
          <h6 class="card-subtitle mb-2 ">{{album.singer}}</h6>
          <ul class="list-group list-group-flush text-white">
            <li class="list-group-item text-white" style="background: rgb(52, 52, 54);">Genero {{album.gender}}</li>
            <li class="list-group-item text-white" style="background: rgb(52, 52, 54);"> Disquera {{album.company}}</li>
          </ul>
          <div class="d-flex justify-content-between align-items-center" style="text-align: right;">
            <div class="btn-group">
              <div class="col" style="text-align: right;">
                <button type="button" class="btn btn-sm fw-bold border-white btn-sm bg-white text-dark"
                  [routerLink]="['/album/detail/',album.albumId]">Detalles</button>
                <button type="button" title="Editar" (click)="getAlbum(album.albumId)"
                  class="btn btn-sm fw-bold border-white btn-sm bg-white text-dark" data-bs-toggle="modal"
                  style="margin-left: 10px;" data-bs-target="#modaledit"><i class="fa fa-edit fa-lg"
                    style="color: black;"></i></button>
              </div>
            </div>
          </div>
          <div class="col" style="text-align: center; margin-top: 5px;">
            <small class="text-white">Creacion {{album.launch | date:'MM/dd/yyyy'}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="text-align: center;margin-top: 20px;" *ngIf="albums.length==0">
    <p>No cuentas con ningun Album, agrega alguno!!</p>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Album</h5>
          <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"
            (click)="cleanFormAlbum()"></button>
        </div>
        <div class="modal-body bg-dark text-white">
          <form novalidate (ngSubmit)="create(albumForm)" [formGroup]="albumForm">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Titulo</label>
                <input type="text" class="form-control bg-dark text-white" id="title" formControlName="title">
                <div
                  *ngIf="formAlbum.title.invalid && formAlbum.title.errors && (formAlbum.title.dirty || formAlbum.title.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.title.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Cantante</label>
                <input type="text" class="form-control bg-dark text-white" id="singer" formControlName="singer">
                <div
                  *ngIf="formAlbum.singer.invalid && formAlbum.singer.errors && (formAlbum.singer.dirty || formAlbum.singer.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.singer.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Disquera</label>
                <input type="text" class="form-control bg-dark text-white" id="company" formControlName="company">
                <div
                  *ngIf="formAlbum.company.invalid && formAlbum.company.errors && (formAlbum.company.dirty || formAlbum.company.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.company.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Genero</label>
                <input type="text" class="form-control bg-dark text-white" id="gender" formControlName="gender">
                <div
                  *ngIf="formAlbum.gender.invalid && formAlbum.gender.errors && (formAlbum.gender.dirty || formAlbum.gender.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.gender.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="exampleInputEmail1" class="form-label">Año de Lanzamiento</label>
              <input type="date" class="form-control bg-dark text-white" id="launch" formControlName="launch">
              <div
                *ngIf="formAlbum.launch.invalid && formAlbum.launch.errors && (formAlbum.launch.dirty || formAlbum.launch.touched)"
                class="alert alert-danger form-danger" role="alert">
                <small *ngIf="formAlbum.launch.errors.required ">
                  Required field!
                </small>
              </div>
            </div>
            <div class="col-12">
              <label for="exampleInputEmail1" class="form-label">Covertura</label>
              <input type="text" class="form-control bg-dark text-white" id="image" formControlName="image">
              <div
                *ngIf="formAlbum.image.invalid && formAlbum.image.errors && (formAlbum.image.dirty || formAlbum.image.touched)"
                class="alert alert-danger form-danger" role="alert">
                <small *ngIf="formAlbum.image.errors.required ">
                  Required field!
                </small>
              </div>
            </div>
            <div style="text-align: right;margin-top: 5px;">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                (click)="cleanFormAlbum()">Close</button>
              <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px;" data-bs-dismiss="modal"
                [disabled]="albumForm.invalid">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal-->
  <div class="modal fade" id="modaledit" tabindex="-1" aria-labelledby="modaledit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar Album</h5>
          <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark text-white">
          <form novalidate (ngSubmit)="update(albumForm)" [formGroup]="albumForm">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Titulo</label>
                <input type="text" class="form-control bg-dark text-white" id="title" formControlName="title">
                <div
                  *ngIf="formAlbum.title.invalid && formAlbum.title.errors && (formAlbum.title.dirty || formAlbum.title.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.title.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Cantante</label>
                <input type="text" class="form-control bg-dark text-white" id="singer" formControlName="singer">
                <div
                  *ngIf="formAlbum.singer.invalid && formAlbum.singer.errors && (formAlbum.singer.dirty || formAlbum.singer.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.singer.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Disquera</label>
                <input type="text" class="form-control bg-dark text-white" id="company" formControlName="company">
                <div
                  *ngIf="formAlbum.company.invalid && formAlbum.company.errors && (formAlbum.company.dirty || formAlbum.company.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.company.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-mb-6 col-12">
                <label for="exampleInputEmail1" class="form-label">Genero</label>
                <input type="text" class="form-control bg-dark text-white" id="gender" formControlName="gender">
                <div
                  *ngIf="formAlbum.gender.invalid && formAlbum.gender.errors && (formAlbum.gender.dirty || formAlbum.gender.touched)"
                  class="alert alert-danger form-danger" role="alert">
                  <small *ngIf="formAlbum.gender.errors.required ">
                    Required field!
                  </small>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="exampleInputEmail1" class="form-label">Año de Lanzamiento</label>
              <input type="date" class="form-control bg-dark text-white" id="launch" formControlName="launch">
              <div
                *ngIf="formAlbum.launch.invalid && formAlbum.launch.errors && (formAlbum.launch.dirty || formAlbum.launch.touched)"
                class="alert alert-danger form-danger" role="alert">
                <small *ngIf="formAlbum.launch.errors.required ">
                  Required field!
                </small>
              </div>
            </div>
            <div class="col-12">
              <label for="exampleInputEmail1" class="form-label">Covertura</label>
              <input type="text" class="form-control bg-dark text-white" id="image" formControlName="image">
              <div
                *ngIf="formAlbum.image.invalid && formAlbum.image.errors && (formAlbum.image.dirty || formAlbum.image.touched)"
                class="alert alert-danger form-danger" role="alert">
                <small *ngIf="formAlbum.image.errors.required ">
                  Required field!
                </small>
              </div>
            </div>
            <div style="text-align: right;margin-top: 5px;">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                (click)="cleanFormAlbum()">Close</button>
              <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px;" data-bs-dismiss="modal"
                [disabled]="albumForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
